.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6)
    );
}
.wrapper {
     center;  align-items: center;  padding: 50px 15px 15px;
}